@model BanSach.Model.ViewModel.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<BanSach.Utility.StripeSettings> Stripe

<head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="view


">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0" style="height:60px">
                <div class="row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i>&nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone Number</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Address</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.StreetAddress" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>District</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" class="form-control" readonly />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.ListCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.Product.Name</h6>
                                            <small class="text-muted">Quantity: @item.Count</small>
                                        </div>
                                        <div class="text-right">
                                            @if (item.Product.Price100 * item.Count > 0)
                                            {
                                                <span class="text-muted" style="display:block;"><strike>@((item.Product.Price100 * item.Count)) €</strike></span>
                                            }
                                            <span class="text-muted" style="display:block;">@((item.Product.Price50 * item.Count)) €</span>
                                        </div>
                                    </li>
                                }
                                <div class="row my-3">
                                    <div class="col-9">
                                        <input type="text" id="CouponCode" class="form-control coupon-value" placeholder="Enter coupon code" />
                                    </div>
                                    <div class="col-3">
                                        <button type="button" id="ApplyCoupon" class="btn btn-success form-control btn-apply-coupon">Apply</button>
                                    </div>
                                </div>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (€)</small>
                                    <strong class="text-info">@Model.OrderHeader.OrderTotal €</strong>
                                </li>
                                <br />
                                <div class="row my-3">
                                    <div class="col-12">
                                        <label class="form-check-label">
                                            <input type="radio" name="PaymentMethod" value="COD" class="form-check-input" checked>
                                            Cash on Delivery (COD)
                                        </label>
                                    </div>
                                   
                                    <div class="col-12">
                                        <label class="form-check-label">
                                            <input type="radio" name="PaymentMethod" value="Stripe" class="form-check-input">
                                            Pay with Stripe
                                        </label>
                                    </div>
                                </div>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-12 col-md-8 pt-2">
                    <p style="color:maroon; font-size:14px">
                        Estimate Arrival Date:
                        @DateTime.Now.ToString() - @DateTime.Now.AddDays(14).ToShortDateString()
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <button id="btnPlaceOrder"
                            type="submit"
                            value="Place Order"
                            class="btn btn-primary form-control"
                    @(Model.OrderHeader.OrderTotal == 0 ? "disabled" : "")>
                        Place Orders
                    </button>

            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btnPlaceOrder = document.getElementById("btnPlaceOrder");
        const orderTotal = parseFloat('@Model.OrderHeader.OrderTotal');

        if (orderTotal === 0) {
            btnPlaceOrder.disabled = true;
        }
    });
</script>
